/* https://ru.stackoverflow.com/questions/640689/Нарисовать-круг-используя-только-css */
.button {
  width: 2em;
  height: 2em;
  background: magenta;
  border-radius: 50%;
  cursor: pointer;

  display: flex;

  text-align: center;
  text-decoration: none;
}

.button * {
  margin: auto;
}

.button:hover {
  background: red;
}
