/* https://ru.stackoverflow.com/questions/640689/Нарисовать-круг-используя-только-css */
.button,
.buttonDisabled {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;

  display: flex;

  text-align: center;
  text-decoration: none;

  font-weight: bolder;
}

.button {
  color: blue;
  background: white;
}

.button *,
.buttonDisabled * {
  margin: auto;
}

.button:hover {
  color: white;
  background: red;
}

.buttonDisabled {
  color: grey;
  background: white;
}
