.fixedblock {
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: blue;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.fixedblock a {
  color: white;
}

.fixedblock tr {
  text-align: center;
}
