/* https://habr.com/ru/post/467049/ */

.navbar-top,
.navbar-bottom {
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  margin: 0;
  padding: 0;

  background: blue;
  color: white;

  font-family: sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.25em;
}

.navbar-top,
.navbar-bottom a {
  color: white;
}

.navbar-top .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -0.5em;
}

.navbar-top .buttons div {
  width: calc(100% / 3-0.5em);
  margin-left: 0.5em;
}

.navbar-top {
  top: 0;
  justify-content: space-between;
}

.navbar-bottom {
  bottom: 0;
  justify-content: space-around;
  text-align: center;
}

/*.navbar-bottom div {
  color: grey;
}*/

.navbar-bottom div a {
  color: white;
}

.navbar-bottom-wrap {
  flex-wrap: wrap; /* Допускается перенос на новую строку */
}

.navbar-bottom-div-active {
  cursor: pointer;
  color: white;
}

.navbar-bottom-div-passive {
  color: grey;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  /*src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://tsandrewf.github.io/outlay/fonts/MaterialIcons-Regular.woff2)
      format("woff2"),
    url(https://tsandrewf.github.io/outlay/fonts/MaterialIcons-Regular.woff)
      format("woff"),
    url(https://tsandrewf.github.io/outlay/fonts/MaterialIcons-Regular.ttf)
      format("truetype");*/
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    /*url(./fonts/MaterialIcons-Regular.woff2) format("woff2"),*/
      url(./fonts/MaterialIcons-Regular.woff) format("woff");
  /*url(./fonts/MaterialIcons-Regular.ttf) format("truetype");*/
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
