#tableOutlayEntries #colDate {
  width: 10vw;
}

#tableOutlayEntries #colCategory {
  width: 40vw;
  text-align: left;
}

#tableOutlayEntries #colSum {
  width: 40vw;
  text-align: right;
}

#tableOutlayEntries #colDel {
  width: 10vw;
}
