.upperCategory ul {
  padding-left: 3vw;
  list-style: none;
}
.upperCategory ul li {
  padding: 6px;
}
.upperCategory li:before {
  /*content: "\2714";*/
  content: "\25B2";
}

.upperCategory {
  font-family: sans-serif;
  font-weight: bold;
}
