.tableOutlayEntryEdit tbody tr td:nth-child(1) {
  width: 10vw;
  text-align: right;
}

.tableOutlayEntryEdit tbody tr td:nth-child(2) {
  width: 45vw;
  text-align: right;
}

.tableOutlayEntryEdit tbody tr td:nth-child(3) {
  width: 45vw;
  text-align: left;
}

.new-string {
  width: 100%;
}
