.log {
  font-family: sans-serif;
  /*vertical-align: middle;*/
  display: inline;
  /*padding-top: 2em;*/
}

.logError {
  color: red;
}

.logButton {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;

  color: white;
  background: blue;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  font-family: sans-serif;
}

.logButton2 {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;

  color: white;
  background: blue;

  /*display: table-cell;
  vertical-align: middle;
  text-align: center;*/

  font-family: sans-serif;
  font-size: medium;
  /*display: inline;*/
}

.logHidden {
  display: none;
}
