/* https://ru.stackoverflow.com/questions/725507/Зафиксировать-шапку-таблицы-от-прокрутки */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.table-fixed-head {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 100vh;
}

/*.table-fixed-head th,
.table-fixed-head td {
  padding: 5px;
  text-align: center;
  width: 33.333vw;
}*/
.table-fixed-head th {
  padding: 5px;
  text-align: center;
}
.table-fixed-head td {
  padding: 5px;
  text-align: center;
  width: 33.333vw;
}

.table-fixed-head thead {
  background-color: blue;
  color: #fdfdfd;
}

.table-fixed-head thead tr {
  display: block;
  position: relative;
}

.table-fixed-head tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 30px);
}
/* Beg https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
.table-fixed-head tbody::-webkit-scrollbar {
  display: none;
}
/* End https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/

.table-fixed-head tbody tr:nth-child(even) {
  background-color: #ccffff;
}

/* Мое творчество */
.table-fixed-head thead a {
  color: #fdfdfd;
}

a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:active {
  color: blue;
}
/*a:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении курсора мыши на ссылку */
/*}*/

table {
  font-family: sans-serif;
}
